<!DOCTYPE html>
<html>

<head>
    <title>Flash Cards</title>
    <!-- We've provided some styles for you, aren't we nice? -->
    <link rel="stylesheet" type="text/css" href="css/reset.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body ng-app="flashCards">
    <!--     <div ng-include="js/controllers/stats.js" ng-controller="StatsController" id="statistics">
        <div id="scoreboard">
            <h3>Correct: <span>{{ scores.correct }}</span></h3>
            <h3>Incorrect: <span>{{ scores.incorrect }}</span></h3>
        </div>
    </div> -->
    <div ng-controller="StatsController" id="statistics" ng-include="templates/statistics.html"></div>
    <div ng-controller="MainController">
        <button class="category-button" ng-click="getCategoryCards(category)" ng-repeat="category in categories" ng-class="{ active : currentCategory == category }">
            {{ category }}
        </button>
        <button class="category-button" ng-click="resetCategories()" ng-class="{ active : currentCategory == category}">Reset</button>
        <div ng-repeat="flashCard in flashCards | orderBy : 'question'" class="flash-card">
            <h1>{{ flashCard.question | uppercase }}</h1>
            <ul class="flash-card-answers">
                <li ng-repeat="answer in flashCard.answers | cheat" class="flash-card-answer" ng-click="answerQuestion(answer, flashCard)">{{ answer.text }}</li>
            </ul>
            <h2 class="answer-feedback" ng-class="flashCard.answeredCorrectly ? 'correct' : 'incorrect'" ng-show="flashCard.answered">
                <span ng-show="flashCard.answeredCorrectly">Yeah, you got it right!</span>
                <span ng-show="!flashCard.answeredCorrectly">Nope, you got it wrong.</span>
        </h2>
            <h3> {{ flashCard.category }} </h3>
        </div>
    </div>
    <script src="js/lib/angular.js"></script>
    <script src="app.js"></script>
    <script src="js/controllers/MainController.js"></script>
    <script src="js/controllers/StatsController.js"></script>
    <script src="js/factories/FlashCardsFactory.js"></script>
    <script src="js/factories/ScoreFactory.js"></script>
    <script src="js/filters/cheat.js"></script>
</body>

</html>
