<div class="container-fluid" id="editCard">
    <form name="editCardForm" ng-submit="editCardForm.$valid && submit(card)" class="form-horizontal">
        </br>
        <div class="form-group">
            <span ng-show="editCardForm.question.$error.required && editCardForm.$submitted">Question is a required field</span>
            <span ng-show="editCardForm.question.$error.minlength && editCardForm.$submitted">Category is too short</span>
            <label for="theQuestion" class="col-sm-2 control-label">Question</label>
            <div class="col-sm-10">
                <input required ng-minlength="15" name="question" type="text" ng-model="card.question" id="theQuestion" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <span ng-show="editCardForm.category.$error.required && editCardForm.$submitted">Category is a required field</span>
            <label for="theCategory" class="col-sm-2 control-label">Category</label>
            <div class="col-sm-10">
                <input required name="category" type="text" ng-model="card.category" id="theCategory" class="form-control" />
            </div>
        </div>
        <div ng-repeat="answer in card.answers">
            <span ng-show="editCardForm['answer' + ($index + 1)].$error.maxlength && editCardForm.$submitted">Answer is too long</span>
            <div class="form-group">
                <label for="theAnswer" class="col-sm-2 control-label"> Answer #{{ $index + 1 }}: </label>
                <div class="col-sm-6">
                    <input name="answer{{ $index + 1 }}" ng-maxlength="40" type="text" ng-model="answer.text" id="theAnswer" class="form-control" />
                </div>
                <label for="correctAnswer" class="col-sm-2 control-label">Correct</label>
                <div class="col-sm-2">
                    <input name="correct" type="radio" ng-value="true" ng-change="clearOthers($index)" ng-model="answer.correct" id="correctAnswer" class="form-control">
                </div>
            </div>
        </div>
        <button ng-click="editCard(card)" class="btn btn-info">Save</button>
    </form>
</div>